@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS */
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

body {
  @apply font-sans;
}

iframe {
  scrollbar-width: none;
}

iframe::-webkit-scrollbar {
  display: none;
}
